<style>
  .password-page__logo .logo {
    width: {{ settings.password_logo_max_width | escape }}px;
  }
</style>

<header class="password-page__header" role="banner">

  <div class="password-page__header__inner">

    {% comment %}
      Link to password modal
    {% endcomment %}
    <p class="password-login text-right small--text-center">
      <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal" style="color: black;">
        {% include 'svg-definitions' with 'lock-icon' %}
        {{ 'general.password_page.password_link' | t }}
      </a>
    </p>

    {% comment %}
      Site name or logo
    {% endcomment %}
    <div class="password-page__logo">
      <h1 itemscope itemtype="http://schema.org/Organization">
      {% assign logo_width = settings.logo_max_width | escape | times: 1 %}
      {% capture image_size %}{{ settings.password_logo_max_width | escape }}x{% endcapture %}
        <img class="logo" src="{{ settings.password_logo | img_url: image_size }}"
          srcset="{{ settings.password_logo | img_url: image_size }} 1x, {{ settings.password_logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ shop.name }}"
          itemprop="logo">
      </h1>
    </div>

  </div>

</header>



{% schema %}
{
  "name": {
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "머리글",
    "ms": "Pengepala",
    "nb": "Header",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
       "type": "header",
       "content": "Notice",
       "info": "Please see the Main Theme Settings (link found below this notice) to modify this sections content."
    }
  ]
}
{% endschema %}
