<div class="password-page__main__inner" style="color:black">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% if settings.password_heading != blank %}
  <h2 class="password-page__hero">{{ settings.password_heading | escape }}</h2>
  {% endif %}
  <div class="password-page__content">{{ settings.password_content_text }}</div>

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}



  {% if settings.password_enable_sharing %}
  <div class="password-page__social-sharing">
    <ul class="inline-list social-icons">
      {% if settings.social_twitter_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Twitter' | escape }}">
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="fallback-text">Twitter</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_facebook_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Facebook' | escape }}">
          <span class="icon icon-facebook" aria-hidden="true"></span>
          <span class="fallback-text">Facebook</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_pinterest_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Pinterest' | escape }}">
          <span class="icon icon-pinterest" aria-hidden="true"></span>
          <span class="fallback-text">Pinterest</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_google_plus_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_google_plus_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Google' | escape }}" rel="publisher">
          <span class="icon icon-google_plus" aria-hidden="true"></span>
          <span class="fallback-text">Google</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_instagram_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Instagram' | escape }}">
          <span class="icon icon-instagram" aria-hidden="true"></span>
          <span class="fallback-text">Instagram</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_snapchat_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Snapchat' | escape }}">
          <span class="icon icon-snapchat" aria-hidden="true"></span>
          <span class="fallback-text">Snapchat</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_tumblr_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Tumblr' | escape }}">
          <span class="icon icon-tumblr" aria-hidden="true"></span>
          <span class="fallback-text">Tumblr</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_youtube_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'YouTube' | escape }}">
          <span class="icon icon-youtube" aria-hidden="true"></span>
          <span class="fallback-text">YouTube</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_vimeo_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Vimeo' | escape }}">
          <span class="icon icon-vimeo" aria-hidden="true"></span>
          <span class="fallback-text">Vimeo</span>
        </a>
      </li>
      {% endif %}
      {% if settings.social_fancy_link != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Fancy' | escape }}">
          <span class="icon icon-fancy" aria-hidden="true"></span>
          <span class="fallback-text">Fancy</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "ms": "Kandungan",
    "nb": "Innhold",
    "nl": "Inhoud",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "class": "password-page__main",
  "settings": [
    {
       "type": "header",
       "content": "Notice",
       "info": "Please see the Main Theme Settings (link found below this notice) to modify this sections content."
    }
  ]
}
{% endschema %}
